@media (max-device-width: 500px) {
   .containerOffreMain {
      background-color: transparent;
      display: flex;
      flex-direction: column;
   }

   .intro h6 {
      margin-left: 3%;
      margin-right: 3%;
      text-align: justify;
   }

}

@media (min-device-width: 500px) {
   .containerOffreMain {
      background-color: transparent;
      display: flex;
      flex-direction: row-reverse;

   }

}